<style type=text/css>
<!--
  body {
    background: #0000C0 url(images/backstripe.gif); 
    font-family: Arial;
    font-size: 16;
    font-weight: bold;
    color: #FFFFFF; }
  td {
    border-style: solid;
    border-width: thin;
  }
  table {
    font-family: Arial;
    font-size: 16;
    font-weight: bold;
    color: #FFFFFF; }
  a { color: #00FF00; }
  a:hover { color: #FFFF00; }
-->
</style>
